body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

div {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

a {
    display: inline-block;
    color: #fff;
    width: 160px;
    background-color: #007BFF;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

button {
    display: inline-block;
    color: #fff;
    width: 200px;
    background-color: #007BFF;
    padding: 10px 20px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    display: inline-block;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    margin: 3px 0;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


form label {
    display: inline-block;
    width: 90px; /* Ajuste este valor conforme necessário */
    text-align: left;
    margin-right: 0px;
}

form input {
    width: 200px; /* Ajuste este valor conforme necessário */
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

table input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
}
